<a href="https://colab.research.google.com/github/Shubhbetter/Pandas_Advanced_Assignment/blob/main/Pandas_Advanced_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center>Pandas Assignment</center>

Import pandas and numpy with their aliases

In [ ]:
import pandas as pd
import numpy as np

Create a variable a = pd.Series([ 100, 200, 300, 400])

In [ ]:
a = pd.Series([ 100, 200, 300, 400])

Print a, and data type

In [ ]:
print(a)
print(type(a))

0    100
1    200
2    300
3    400
dtype: int64
<class 'pandas.core.series.Series'>

Using indexing access the element 300 from the series a.

In [ ]:
a[2]

300

What are the values of index for series a?

In [ ]:
value = a.values
print(value)

[100 200 300 400]

Change the index to  ['c', 'a', 'b', 'd']

In [ ]:

a.index = ['c', 'a', 'b', 'd']
print(a)

c    100
a    200
b    300
d    400
dtype: int64

Access the value in the series with index 'd'

In [ ]:
a['d']

400

Sort the values wrt to the index and print it

In [ ]:

print(a.sort_index())

a    200
b    300
c    100
d    400
dtype: int64

Create a new Pandas Series b having index as 'e', 'f', and 'g' and value 800,450,100 and print it

In [ ]:
b = pd.Series([800,450,100], index = ['e', 'f', 'g'])
print(b)

e    800
f    450
g    100
dtype: int64

Append b series at the end of a series

In [ ]:
result = pd.concat([a, b])
print(result)

c    100
a    200
b    300
d    400
e    800
f    450
g    100
dtype: int64

In [ ]:
#print a again after appending b into it
result = pd.concat([a, b])
print(result.sort_index())

a    200
b    300
c    100
d    400
e    800
f    450
g    100
dtype: int64

Sort the values in descending order of a and print the index of the sorted series

In [ ]:
result = pd.concat([a, b])
result_sorted = result.sort_values(ascending=False)
print(result_sorted)

e    800
f    450
d    400
b    300
a    200
c    100
g    100
dtype: int64

## Pandas DataFrame

### Part 1

Create a pandas dataframe df from the series 'a' that we used in the last section, print the dataframe

In [ ]:
df = pd.DataFrame(result, columns=['values'])
print(df)

   values
c     100
a     200
b     300
d     400
e     800
f     450
g     100

What is the shape of the datafarme <br>
(also, what does it imply?)

In [ ]:
df.shape

(7, 1)

Hey! remember shape (7,1) implies dataframe has 7 rows and 1 column.

What is the index of the dataframe, is it same as the series 'a'

In [ ]:
# yep its same as the series.
df.head()

   values
c     100
a     200
b     300
d     400
e     800

print the head and tail of the dataframe. <br>
Additional - (what does head and tali represent?)

In [ ]:

df.tail()

   values
b     300
d     400
e     800
f     450
g     100

Rename the column of the dataframe as 'points'

In [ ]:

df = df.rename(columns={'values': 'points'})
print(df)

   points
c     100
a     200
b     300
d     400
e     800
f     450
g     100

Create another Series 'fruits', which contains random names of fruits from ['orange','mango','apple']. The series should contain 7 elements, randomly selected from ['orange','mango','apple']

In [ ]:
#Create fruits
import random
fruits_list = ['orange', 'mango', 'apple']
fruits = pd.Series(random.choices(fruits_list, k=7))
print(fruits)

0     mango
1     mango
2    orange
3     apple
4     mango
5     mango
6     mango
dtype: object

In [ ]:
#Create series fruits out of fruits array

fruits_series = pd.Series(fruits)
print(fruits_series)

0     mango
1     mango
2    orange
3     apple
4     mango
5     mango
6     mango
dtype: object

Change the index of fruits to the index of dataframe df

In [ ]:


fruits.index = df.index
print(fruits)

c     mango
a     mango
b    orange
d     apple
e     mango
f     mango
g     mango
dtype: object

Add this fruits series as a new column to the dataframe df with its column name as 'fruits'
<br>print the head of the dataframe to verify

In [ ]:

df['fruits'] = fruits
print(df.head())

   points  fruits
c     100   mango
a     200   mango
b     300  orange
d     400   apple
e     800   mango

## Pandas Concatenation

Create a dataframe  d1 where the cols are  ‘city’ : [‘Chandigarh’, ‘Delhi’, ‘Kanpur’, ‘Chennai’, ‘Manali’ ] and ‘Temperature’ : [15, 22, 20, 26,-2]

In [ ]:

data = {
    'city': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'],
    'Temperature': [15, 22, 20, 26, -2]
}

d1 = pd.DataFrame(data)

Print(d1)

In [ ]:
print(d1)

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

What is the shape of d1.

In [ ]:
d1.shape

(5, 2)

Set city = d1['city']

In [ ]:
set_city = d1['city']

print city <br>
What is the type of city.

In [ ]:
print(set_city)
print(type(set_city))

0    Chandigarh
1         Delhi
2        Kanpur
3       Chennai
4        Manali
Name: city, dtype: object
<class 'pandas.core.series.Series'>

Create another datafeame 'd2' where the columns are <br>
'city' - ['Bengalaru','Coimbatore','Srirangam','Pondicherry'] <br>
'Temperature' - [24,35,36,39]

In [ ]:
data2 = {
    'city': ['Bengaluru', 'Coimbatore', 'Srirangam', 'Pondicherry'],
    'Temperature': [24, 35, 36, 39]
}

d2 = pd.DataFrame(data2)
print(d2)

          city  Temperature
0    Bengaluru           24
1   Coimbatore           35
2    Srirangam           36
3  Pondicherry           39

print the shape of this dataframe

In [ ]:

d2.shape

(4, 2)

merge the two dataframes together, save it in a new dataframe named 'd3'

In [ ]:
d3 = pd.concat([d1, d2])
print(d3)

          city  Temperature
0   Chandigarh           15
1        Delhi           22
2       Kanpur           20
3      Chennai           26
4       Manali           -2
0    Bengaluru           24
1   Coimbatore           35
2    Srirangam           36
3  Pondicherry           39

Select the part of the dataframe such that it contains cities wherer temp is less then or equal to 20 <br>
How many cities are there?

In [ ]:
selected_cities = d3[d3['Temperature'] <= 20]
print(selected_cities)
print(selected_cities.shape)

         city  Temperature
0  Chandigarh           15
2      Kanpur           20
4      Manali           -2
(3, 2)

Select the part of the dataframe such that it contains the cities where tempearature greater than or equal to 35

In [ ]:
hot_cities = d3[d3['Temperature'] >= 35]

print(hot_cities)

          city  Temperature
1   Coimbatore           35
2    Srirangam           36
3  Pondicherry           39

## Applying functions to columns and creating new columns

We need to create another column in d3, which contains  a boolean value for each city to indicate whether it's a union territory or not.
- HINT: Chandigarh, Pondicherry and Delhi are only 3 union territories here.

In [ ]:
# write function here

def is_ut(city):
    union_territories = ['Chandigarh', 'Pondicherry', 'Delhi']
    return city in union_territories

d3['is_ut'] = d3['city'].apply(is_ut)

In [ ]:
# print d3
print(d3)

          city  Temperature  is_ut
0   Chandigarh           15   True
1        Delhi           22   True
2       Kanpur           20  False
3      Chennai           26  False
4       Manali           -2  False
0    Bengaluru           24  False
1   Coimbatore           35  False
2    Srirangam           36  False
3  Pondicherry           39   True

The temperatures mentioned in ‘Temperature’ column are mentioned in Celsius, we need another column which contains the same in Fahrenheit.

HINT -
- Define a function c_to_f which takes input temp in celsius and returns a value with temperature in Fahrenheit.
- To check: c_to_f(10) should return 50.

In [ ]:
# write function here
def c_to_f(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

# Apply the function to create a new 'Temperature_F' column
d3['Temperature_F'] = d3['Temperature'].apply(c_to_f)

In [ ]:
# check function c_to_f(10)
c_to_f(10)

50.0

In [ ]:
# apply function c_to_f to d3 to create a column 'temp_farenhiet'
def c_to_f(temp_celsius):
    return (temp_celsius * 9/5) + 32

# Apply the function to create a new column 'temp_fahrenheit'
d3['Temperature_F'] = d3['Temperature'].apply(c_to_f)

# Display the DataFrame
print(d3)

          city  Temperature  is_ut  Temperature_F
0   Chandigarh           15   True           59.0
1        Delhi           22   True           71.6
2       Kanpur           20  False           68.0
3      Chennai           26  False           78.8
4       Manali           -2  False           28.4
0    Bengaluru           24  False           75.2
1   Coimbatore           35  False           95.0
2    Srirangam           36  False           96.8
3  Pondicherry           39   True          102.2

## Indexing and selecting rows in DataFrame

Select subset of the dataframe d1 such that it contains the cities which are union territories.

In [ ]:

ut_cities = d3[d3['is_ut'] == True]

print(ut_cities)

          city  Temperature  is_ut  Temperature_F
0   Chandigarh           15   True           59.0
1        Delhi           22   True           71.6
3  Pondicherry           39   True          102.2

Select a subset of the dataframe d1 such that it contains the cities which only have temperature above 90 Farenhiet.

In [ ]:
hot_cities = d3[d3['Temperature_F'] > 90]

print(hot_cities)

          city  Temperature  is_ut  Temperature_F
1   Coimbatore           35  False           95.0
2    Srirangam           36  False           96.8
3  Pondicherry           39   True          102.2

Select only the first three rows of the dataframe d1.

In [ ]:
d1.head(3)

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20

Select all the rows and last two columns in the dataframe.

In [ ]:
d1.iloc[:, -2:]

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

## Groupby

In [ ]:
data = {
    'Movie': ['The Shawshank Redemption', 'The Dark Knight', 'Pulp Fiction', 'Inception'],
    'Year': [1994, 2008, 1994, 2010],
    'Genre': ['Drama', 'Action, Crime, Drama', 'Crime, Drama', 'Action, Sci-Fi, Thriller'],
    'Rating': [9.3, 9.0, 8.9, 8.8]
}

movies_df = pd.DataFrame(data)
print(movies_df)

                      Movie  Year                     Genre  Rating
0  The Shawshank Redemption  1994                     Drama     9.3
1           The Dark Knight  2008      Action, Crime, Drama     9.0
2              Pulp Fiction  1994              Crime, Drama     8.9
3                 Inception  2010  Action, Sci-Fi, Thriller     8.8

In [ ]:
# Use Groupby of single column with aggregate sum()

grouped_by_year = movies_df.groupby('Year')['Rating'].sum()

print(grouped_by_year)

Year
1994    18.2
2008     9.0
2010     8.8
Name: Rating, dtype: float64

In [ ]:
# Use Groupby of single column with aggregate count()
movie_count_by_year = movies_df.groupby('Year')['Movie'].count()

print(movie_count_by_year)

Year
1994    2
2008    1
2010    1
Name: Movie, dtype: int64

In [ ]:
# Use Groupby of single column with aggregate min() and max()
min_rating_by_year = movies_df.groupby('Year')['Rating'].min()
max_rating_by_year = movies_df.groupby('Year')['Rating'].max()

print("Minimum Ratings by Year:\n", min_rating_by_year)
print("\nMaximum Ratings by Year:\n", max_rating_by_year)

Minimum Ratings by Year:
 Year
1994    8.9
2008    9.0
2010    8.8
Name: Rating, dtype: float64

Maximum Ratings by Year:
 Year
1994    9.3
2008    9.0
2010    8.8
Name: Rating, dtype: float64

In [ ]:
# Use Groupby of any 2 columns with aggregate mean()
mean_rating_by_year_genre = movies_df.groupby(['Year', 'Genre'])['Rating'].mean()

print(mean_rating_by_year_genre)

Year  Genre
1994  Crime, Drama                8.9
      Drama                       9.3
2008  Action, Crime, Drama        9.0
2010  Action, Sci-Fi, Thriller    8.8
Name: Rating, dtype: float64

In [ ]:
# Use Groupby of any 2 columns with aggregate min() and max()
min_rating_by_year_genre = movies_df.groupby(['Year', 'Genre'])['Rating'].min()
max_rating_by_year_genre = movies_df.groupby(['Year', 'Genre'])['Rating'].max()

print("Minimum Ratings by Year and Genre:\n", min_rating_by_year_genre)
print("\nMaximum Ratings by Year and Genre:\n", max_rating_by_year_genre)

Minimum Ratings by Year and Genre:
 Year  Genre
1994  Crime, Drama                8.9
      Drama                       9.3
2008  Action, Crime, Drama        9.0
2010  Action, Sci-Fi, Thriller    8.8
Name: Rating, dtype: float64

Maximum Ratings by Year and Genre:
 Year  Genre
1994  Crime, Drama                8.9
      Drama                       9.3
2008  Action, Crime, Drama        9.0
2010  Action, Sci-Fi, Thriller    8.8
Name: Rating, dtype: float64